
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--trafy-white);
  /* background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px); */
  z-index: 1000; /* Ensure the navbar stays on top */
}
.navbar {
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  border-bottom: 1px solid #d1d1d1;
}

/* .navbar {
  transition: transform 0.3s ease-in-out, border-bottom 0.3s;
}

.navbar.scrolled {
  border-bottom: 1px solid #e7e7e7;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar.visible {
  transform: translateY(0);
} */

.navbar-container{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo{
  display: flex;
  align-items: center;
}
.navbar-logo img{
  height: 28px;
  width: auto;
}
.navbar-contents{
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.navbar-research ,.navbar-academy, .navbar-resources,
.navbar-community{
  font-size: 16px;
  font-weight: 400;
  color: var(--p-black);
  font-family: var(--h-font);
}
.navbar-research:hover ,.navbar-academy:hover, .navbar-resources:hover,
.navbar-community:hover{
  color: var(--h-black);
}
.navbar-profile-name{
  background-color: var(--trafy-black);
  width: 28px;
  height: 28px;
  border-radius: 100%;
  font-size: 14px;
  font-family: var(--h-font);
  color: var(--h-white);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-buttons{
  display: flex;
  gap: 1rem;
}
.navbar-login,.navbar-signup:hover {
  padding: 7px 28px;
  width: max-content;
  height: max-content;
  border: 1px solid var(--h-black);
  border-radius: 8px;
  background-color: inherit;
  font-size: 16px;
  font-weight: 400;
  color: var(--h-black);
  font-family: var(--h-font);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.navbar-signup,.navbar-login:hover{
  padding: 7px 28px;
  width: max-content;
  height: max-content;
  border: 1px solid var(--h-black);
  border-radius: 8px;
  background-color: var(--h-black);
  font-size: 16px;
  font-weight: 400;
  color: var(--h-white);
  font-family: var(--h-font);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.navbar-contents-menu,  .navbar-contents-drop{
  display: none;
}
.get-started{
  padding: 9px 28px;
  width: 100%;
  height: max-content;
  border: 1px solid var(--h-black);
  border-radius: 8px;
  background-color: var(--h-black);
  font-size: 16px;
  font-weight: 400;
  color: var(--h-white);
  font-family: var(--h-font);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.get-started:hover{
  background-color: inherit;
  color: var(--trafy-black);
}
@media only screen and (max-width:850px){
  .navbar-contents{
      display: none;
  }
  .navbar-contents-menu{
      display: block;
  }
  .navbar-contents-drop{
      display: none;
  }
  .navbar-contents-drop.open{
    padding: 24px;
      padding-top: 1.5rem;
      width: 100%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 54px;
      right: 0;
      background-color: var(--trafy-white);
      z-index: 1000;
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
      border-bottom: 1px solid #d1d1d1;
      /* box-shadow: -400px 0px 0px 0px rgba(0,0,0,0.75); */
      box-shadow: -1px 300px 0px 300px rgba(0,0,0,0.75)
    }
  .navbar-contents-mobile{
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
  }
  .navbar-profile{
    padding: 10px 16px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .navbar-profile-name{
    width: 30px;
    height: 30px;
  }
  .navbar-profile p{
    font-size: 16px;
    font-weight: 400;
    color: var(--h-black);
    font-family: var(--h-font);
  }
  .navbar-research ,.navbar-academy, .navbar-resources,
.navbar-community {
  font-size: 18px;
  font-weight: 400;
  color: var(--h-black);
  font-family: var(--h-font);
  cursor: pointer;
}
}
@media only screen and (max-width:600px){
  .navbar-contents-drop.open{
    width: 80%;
  }
}
@media only screen and (max-width:400px){
  .navbar-contents-drop.open{
    width: 100%;
  }
}