.landing-hero{
    padding-top: 140px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--trafy-white);
}
.landing-hero-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.landing-hero-container h1{
    width: 54%;
    font-size: 56px;
    font-family: var(--h-font);
    font-weight: 500;
    color: var(--h-black);
    line-height: 140%;
    text-align: center;
}
.landing-hero-container p{
    width: 65%;
    font-size: 20px;
    font-family: var(--h-font);
    font-weight: 400;
    color: var(--h-black);
    line-height: 160%;
    text-align: center;
}
.landing-hero-button{
    margin-top: 8px;
    padding: 12px 28px;
    width: max-content;
    height: max-content;
    border: 1px solid var(--h-black);
    border-radius: 8px;
    background-color: var(--h-black);
    font-size: 20px;
    font-weight: 300;
    color: var(--h-white);
    font-family: var(--h-font);
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.landing-hero-button:hover{
  background-color: inherit;
  color: var(--h-black);

}
@media only screen and (max-width:1280px){
    .landing-hero-container h1{
        width: 70%;
    }
}
@media only screen and (max-width:1024px){
    .landing-hero-container{
        gap: 1.5rem;
    }
    .landing-hero-container h1{
      width: 80%;
       font-size: 56px;
    }
    .landing-hero-container p{
      width: 90%;
    }
    .landing-hero-container p,.landing-hero-button{
        font-size: 20px;
    }
}
@media only screen and (max-width:850px){
    .landing-hero-container{
        width:90%
    }
    .landing-hero-container h1{
        width: 80%;
        /* font-size: 48px; */
     }
}
@media only screen and (max-width:600px){
  .landing-hero{
    padding-top: 80px;
    padding-bottom: 80px;
}
    .landing-hero-container h1{
        width: 90%;
        font-size: 48px;
     }
     .landing-hero-container p{
        width: 100%;
     }
}
@media only screen and (max-width:400px){
    .landing-hero{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .landing-hero-container{
        width:90%
    }
    .landing-hero-container h1{
        width: 100%;
        font-size: 42px;
     }
     .landing-hero-container p,.landing-hero-button{
        font-size: 18px;
    }
}
/* -------------------------------------------------------------------Landing Company Logo------------------------------------- */
.landing-company{
    padding: 90px 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.landing-company-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    align-items: center;
    justify-content: center;
}
.landing-company-container h2{
    font-size: 24px;
    color:var(--h-black);
    font-weight: 500;
    font-family: var( --h-font);
    text-align: center;
    line-height: 150%;
}
.landing-company-logo{
    width: 80%;
    display:flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.landing-company-logo img{
    height: 28px;
    width: auto;
}
@media only screen and (max-width:1024px){
  .landing-company{
    padding: 60px 0px;
  }
  .landing-company-container{
    width: 85%;
  }
  .landing-company-logo{
    width: 100%;
  }
}
@media only screen and (max-width:600px){
  .landing-company-container{
    width: 90%;
  }
  .landing-company-container h2{
    font-size: 20px;
  }
  .landing-company-logo{
    gap: 2rem;
  }
}
@media only screen and (max-width:400px){
  .landing-company-logo{
    gap: 1.5rem;
  }
  .landing-company-logo img {
    height: 24px;
    width: auto;
}
}
/* -------------------------------------------------------------------Landing courses---------------------------------------------------- */
.landing-courses{
    padding: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-courses-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .landing-courses-container h2{
    font-size: 32px;
    color:var(--h-black);
    font-weight: 500;
    font-family: var( --h-font);
  }
  .landing-courses-contents{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .landing-courses-box{
    width: 350px;
    height: 380px;
    border: 1px solid #d1d1d1;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
  }
  .landing-courses-box h4{
    width: 100%;
    font-size: 14px;
    color:var(--h-black);
    font-weight: 500;
    font-family: var( --h-font);
    padding: 20px;
    border-bottom: 1px solid #d1d1d1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .landing-courses-box-contents{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  .landing-courses-box-contents-desc{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  .landing-courses-box-contents-desc h3{
    font-size: 20px;
    color:var(--h-black);
    font-weight: 500;
    font-family: var( --h-font);
  }
  .landing-courses-box-contents-desc p{
    font-size: 16px;
    color:var(--h-black);
    font-weight: 400;
    font-family: var( --h-font);
    line-height: 140%;
  }
  .landing-courses-box-contents-level{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  .landing-courses-box-contents-level p{
    font-size: 14px;
    color:var(--h-black);
    font-weight: 400;
    font-family: var( --h-font);
  }
  @media only screen and (max-width:1024px){
    .landing-courses-container{
      width: 85%;
    }
  }
  @media only screen and (max-width:600px){
    .landing-courses{
      padding: 60px 0px;
    }
    .landing-courses-container{
      width: 90%;
    }
    .landing-courses-container h2{
      font-size: 28px;
    }
  }
  @media only screen and (max-width:400px){
    .landing-courses{
      padding: 40px 0px;
    }
    .landing-courses-contents{
      gap: 1.5rem;
    }
    .landing-courses-box-contents-desc h3{
      font-size: 20px;
    }
  }


  /* -----------------------------------------------Landing-potental------------------------------------------- */
  .landing-potential{
    padding: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-potential-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .landing-potential-container h2{
    width: 50%;
    font-size: 32px;
    color:var(--h-black);
    font-weight: 500;
    font-family: var( --h-font);
  }
  .landing-potential-container p{
    width: 50%;
    font-size: 20px;
    color:var(--p-black);
    font-weight: 400;
    font-family: var( --h-font);
    line-height: 150%;
  }
  .landing-potential-contents{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .landing-potential-contents span{
    width: max-content;
    font-size: 18px;
    color:var(--p-black);
    font-weight: 400;
    font-family: var( --h-font);
    background-color: #F5F2FF;
    padding: 8px 14px;
    border: 1px solid var(--trafy-black);
    border-radius: 8px;
  }
  @media only screen and (max-width:1024px){
    .landing-potential-container{
      width: 85%;
    }
    .landing-potential-container h2{
      width: 65%;
    }
  }
  @media only screen and (max-width:850px){
    .landing-potential-container h2{
      width: 80%;
    }
    .landing-potential-container p{
      width: 70%;
    }
  }
  @media only screen and (max-width:600px){
    .landing-potential {
      padding: 60px 0px;
    }
    .landing-potential-container{
      width: 90%;
      gap: 1.2rem;
    }
    .landing-potential-container h2{
      font-size: 28px;
      width: 90%;
    }
    .landing-potential-container p{
      width: 90%;
    }
  }
  @media only screen and (max-width:400px){
    .landing-potential {
      padding: 40px 0px;
    }
    .landing-potential-container{
      width: 90%;
      gap: 1.2rem;
    }
    .landing-potential-container h2{
      font-size: 28px;
      width: 100%;
    }
    .landing-potential-container p{
      width: 100%;
    }
  }
  /* --------------------------------------Landing Certificate-------------------------------- */
  .landing-certificate{
    padding: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-certificate-container{
    width: 75%;
    display: flex;
   justify-content: space-between;
    gap: 3.5rem;
  }
  .landing-certificate-headline{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .landing-certificate-headline h2{
    font-size: 32px;
    width: 80%;
    color:var(--h-black);
    font-weight: 500;
    font-family: var( --h-font);
    line-height: 150%;
  }
  .landing-certificate-headline p{
    font-size: 18px;
    color:var(--p-black);
    font-weight: 400;
    font-family: var( --h-font);
    line-height: 150%;
  }
  .landing-certificate-stamps{
    padding-top: 6PX;
    display: flex;
    gap: 1.5rem;
  
  }
  .landing-certificate-stamps img{
    height: 50px;
    width: auto;
  }
  .landing-certificate-image{
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .landing-certificate-image img{
    width: auto;
    height: auto;
  }
  @media only screen and (max-width:1200px){
    .landing-certificate-image{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .landing-certificate-image img{
      width: 100%;
      height: auto;
    }
    .landing-certificate-headline h2{
      width: 90%;
    }
  }
  @media only screen and (max-width:1024px){
    .landing-certificate-container{
      width: 85%;
    }
    .landing-certificate-headline h2 {
      width: 100%;
  }
  }
  @media only screen and (max-width:850px){
    .landing-certificate-container{
      flex-direction: column;
    }
    .landing-certificate-headline{
      width: 100%;
    }
    .landing-certificate-image {
      width: 60%;
    }
  }
  @media only screen and (max-width:600px){
    .landing-certificate {
      padding: 60px 0px;
    }
    .landing-certificate-container{
      gap: 3rem;
    }
    .landing-certificate-headline h2{
      font-size: 28px;
    }
    .landing-certificate-image {
      width: 100%;
  }
  }
  @media only screen and (max-width:400px){
    .landing-certificate {
      padding: 40px 0px;
    }
    .landing-certificate-container {
      gap: 2rem;
  }
    .landing-certificate-stamps img {
      height: 40px;
      width: auto;
  }
  }
  /* -------------------------------------------------------------Landing Skill------------------------------------------------ */

  .landing-skill{
    padding: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-skill-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .landing-skill-headline{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .landing-skill-headline h2{
    font-size: 32px;
    width: 80%;
    color:var(--h-black);
    font-weight: 500;
    font-family: var( --h-font);
    line-height: 150%;
  }
  .landing-skill-headline p{
    font-size: 18px;
    color:var(--p-black);
    font-weight: 400;
    font-family: var( --h-font);
    line-height: 150%;
  }
  .landing-skill-container button{
    width: max-content;
    height: max-content;
    padding: 12px 20px;
    border: 1px solid var(--trafy-black);
    border-radius: 8px;
    background-color: var(--trafy-black);
    color: var(--h-white);
    font-size: 16px;
    font-family: var(--h-font);
    font-weight: 400;
  }
  .landing-skill-container button:hover{
    background-color: var(--trafy-white);
    color: var(--h-black);
  }
  @media only screen and (max-width:1024px){
    .landing-skill-container{
      width: 85%;
    }
    .landing-skill-headline{
      width: 80%;
    }
  }
  @media only screen and (max-width:850px){
    .landing-skill-headline{
      width: 90%;
    }
  }
  @media only screen and (max-width:600px){
    .landing-skill {
      padding: 60px 0px;
    }
    .landing-skill-container {
      width: 90%;
  }
  .landing-skill-headline{
    width: 100%;
  }
    .landing-skill-headline h2{
      font-size: 28px;
    }
  }
  @media only screen and (max-width:400px){
    .landing-skill {
      padding: 40px 0px;
    }
  }
  /* -------------------------------------------------------------LandingReview--------------------------------------------------- */
  .landing-review{
    padding: 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-review-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .landing-review-container h2{
    font-size: 28px;
    color:var(--h-black);
    font-weight: 500;
    font-family: var( --h-font);
  }
  .landing-review-contents{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 2.5rem;
  }
  .landing-review-box{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .landing-review-name{
    display: flex;
    gap: 0.7rem;
  }
  .landing-review-name-image{
    background-color: var(--trafy-black);
    padding: 8px 16px;
    border-radius: 100%;
    font-size: 14px;
    font-family: var(--h-font);
    color: var(--h-white);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-review-name-contents{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .landing-review-name-contents p{
    font-size: 16px;
    color:var(--h-black);
    font-weight: 400;
    font-family: var( --h-font);
  }
  .landing-review-name-contents img{
     width: auto;
     height: 14px;
  }
  .landing-review-name-desc{
    font-size: 15px;
    color:var(--h-black);
    font-weight: 400;
    font-family: var( --h-font);
    line-height: 140%;
  }
  @media only screen and (max-width:1200px){
    .landing-review-contents {
        width: 100%;
    }
  }
  @media only screen and (max-width:1024px){
    .landing-review-container{
        width: 85%;
    }
  }
  @media only screen and (max-width:850px){
    .landing-review-box{
        width: 100%;
    }
  }
  @media only screen and (max-width:600px){
    .landing-review{
      padding-top: 60px;
    }
    .landing-review-container{
        width: 90%;
    }
  }
  @media only screen and (max-width:400px){
    .landing-review{
      padding-top: 40px;
    }
    .landing-review-container{
        width: 90%;
    }
  }